* {
  margin: 0;
  padding: 0;
}
body {
  background-color:rgb(255, 255, 17);
}



/* Mobile-specific styles */

@media screen and (max-width: 30rem) {
  /* Header styles */
 .header {
    height: 2.5rem;
    font-size: 45%;
  }
  html{
    font-size: 40%;
  }
  
  /* Navigation styles */
 .nav {
    position:relative;
    top: 3.125rem;
  }
 .nav li {
    float: left;
    width: 20%;
   
  }
 .nav a {
    
    font-size: 1rem;
  }
  
  /* Home section styles */
 .homesec {
    display: flex;
  }
 .homesec div {
    width: 50%;
    padding: 0.625rem;
  }
 .leftsides{
   margin:0 0 0 0;
  }
 .rightside img {
    width: 50%;
    height: auto;
  }
  
  /* Services section styles */
  #services.premium {
    font-size: 2.5rem;
  }
  
  /* Life and Genin section styles */
 .lifein,.genin {
    font-size: 1.125rem;
  }
 .lifeul,.genul {
    padding: 0.625rem 0 0 20%;
  }
  
  /* Images section styles */
 .images {
    height: 100%;
    
  }
 .images #licd,#cared,#newind,#tatad,#prudent{
    width:9rem;
    height:9rem;
    padding-right: 0.6rem;
    padding-top:4.5rem;
  }
  
  /* About us section styles */
 .aboutus {
    font-size:1 rem;
    padding: 0.625rem;
    height: auto;
  }
 .aboutus p {
    padding-top: 0.625rem;
  }
  
  /* Contact section styles */
  #contact {
    font-size: 1.25rem;
    padding-top: 3.125rem;
    height: auto;
  }
  #contact h2{
    padding-bottom: 1rem;
}
}
 img {
  float: left;
  height: 3.125rem;
  width: 3.125rem;
  padding: 0.625rem 0 5px 5px;
  object-fit: fill;
}

body,
html {
  margin: 0;
  padding: 0;
}

.header {
  background-color:rgb(0, 8, 255);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 4.375rem;
  position: sticky;
  top: 0%;
  z-index: 1000;
}
.tagname {
  padding-top: 0.5rem;
}
.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: sticky;
  top: 4.375rem;
  z-index: 1000;
}

 li {
  float: left;
 }
 .nav li{
  border-right: 0.063rem solid white;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding:0.875rem  1.25rem;
  text-decoration: none;
 
}

li a:hover {
  background-color: rgba(0, 0, 255, 0.868);
}


.nav a:active {
  background-color: rgba(113, 146, 255, 0.846); 
}




.homesec {
  display: flex;
  height: auto;
}
.homesec div {
  width: 50%;
  padding: 1.25rem;
}
.leftside {
  text-align: left;
  font-size: 1.5rem;
}
.rightside img {
  height: max-content;
  width: 95%;
}

.leftsides {
  margin: 5.625rem 0 0 5.625rem;
  width: 100%;
  font-weight: bold;
}

#services .premium {
  background-color: blue;
  text-align: center;
  font-size: 4.375rem;
  color: white;
  z-index: 0;
}
.lifein{
  font-size: 1.563rem;
  text-align: center;
  margin-top: 1.25rem;
}

.genin {
  font-size: 1.563rem;
  text-align: center;
  margin-top: 1.25rem;
}

.lifeul,
.genul {
  text-align: center;
  background-color: rgb(255, 255, 17);
  padding: 1.25rem 0 0 45%;;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: disc;
  line-height: 2rem;

}
.images{
  display: flex;
  justify-content: center;
  background-color: blue;
  height: 18rem;
  margin:2.5rem 0 2.5rem 0;
  }
.images img{
  width: 12rem;
  height: 10rem;
  padding-right: 2.5rem;
  padding-top: 3.125rem;
}  

.aboutus{
  font-size: 1.563rem;
  padding: 0.625rem;
  height: 15rem;
}
.aboutus p{
  padding-top: 1.25rem;
  text-align: justify;
  line-height:2rem ;
}
#contact{
  background-color: blue;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.563rem ;
  padding-top: 6.25rem;
  height: 15rem;
  color: white;
  line-height: 2.2rem;
}
 

